@import 'variables'

.body-container
  height: 100vh
  background-color: $light
  +fb(center, center)
  .wrapper
    text-align: center
  #welcome
    color: $color1
    font-size: 5rem
    text-transform: uppercase
